.frame1-container {
  min-height: 100vh;
}
.frame1-frame1 {
  width: 100%;
  height: 640px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame1-rectangle690 {
  top: 0px;
  left: 0px;
  width: 360px;
  height: 640px;
  position: absolute;
  border-color: transparent;
}
.frame1-rectangle691 {
  top: 0px;
  left: 0px;
  width: 360px;
  height: 36px;
  position: absolute;
  border-color: transparent;
}
.frame1-vector224 {
  top: 14px;
  left: 16px;
  width: 4px;
  height: 8px;
  position: absolute;
}
.frame1-text {
  top: 8px;
  left: 29px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-rectangle692 {
  top: 219px;
  left: 0px;
  width: 360px;
  height: 375px;
  position: absolute;
  border-color: transparent;
}
.frame1-rectangle693 {
  top: 129px;
  left: 0px;
  width: 360px;
  height: 61px;
  position: absolute;
  border-color: transparent;
}
.frame1-group1795 {
  top: 323px;
  left: 238px;
  width: 104px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame1-group1373 {
  top: 0px;
  left: 0px;
  width: 104px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(0, 180, 177, 1);
}
.frame1-text02 {
  top: 8px;
  left: 10px;
  color: rgba(255, 255, 255, 1);
  width: 85px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-group1806 {
  top: 508px;
  left: 238px;
  width: 104px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame1-group13731 {
  top: 0px;
  left: 0px;
  width: 104px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(0, 180, 177, 1);
}
.frame1-text04 {
  top: 8px;
  left: 10px;
  color: rgba(255, 255, 255, 1);
  width: 85px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text06 {
  top: 138px;
  left: 276px;
  color: rgba(33, 110, 211, 1);
  width: 70px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-group1797 {
  top: 423px;
  left: 17px;
  width: 73px;
  height: 15px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame1-group522 {
  top: 0px;
  left: 0px;
  width: 73px;
  height: 15px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame1-ellipse48 {
  top: 4px;
  left: 0px;
  width: 7px;
  height: 7px;
  position: absolute;
  border-color: transparent;
}
.frame1-text08 {
  left: 12px;
  color: rgba(255, 77, 109, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-line81 {
  top: 375px;
  left: 16px;
  width: 339px;
  height: 0px;
  position: absolute;
}
.frame1-line82 {
  top: 460px;
  left: 16px;
  width: 339px;
  height: 0px;
  position: absolute;
}
.frame1-line83 {
  top: 274px;
  left: 12px;
  width: 339px;
  height: 0px;
  position: absolute;
}
.frame1-group1798 {
  top: 397px;
  left: 17px;
  width: 123px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame1-text10 {
  color: rgba(15, 41, 81, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-group1799 {
  top: 336px;
  left: 20px;
  width: 174px;
  height: 5px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame1-group1364 {
  top: 0px;
  left: 0px;
  width: 174px;
  height: 5px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(218, 218, 218, 1);
}
.frame1-rectangle448 {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 5px;
  position: absolute;
  border-color: transparent;
}
.frame1-group1800 {
  top: 524px;
  left: 20px;
  width: 174px;
  height: 5px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame1-group13641 {
  top: 0px;
  left: 0px;
  width: 174px;
  height: 5px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(218, 218, 218, 1);
}
.frame1-rectangle4481 {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 5px;
  position: absolute;
  border-color: transparent;
}
.frame1-text12 {
  top: 290px;
  left: 17px;
  color: rgba(15, 41, 81, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-text14 {
  top: 478px;
  left: 17px;
  color: rgba(15, 41, 81, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-group1801 {
  top: 309px;
  left: 17px;
  width: 40px;
  height: 15px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame1-group5221 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 15px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame1-ellipse481 {
  top: 4px;
  left: 0px;
  width: 7px;
  height: 7px;
  position: absolute;
  border-color: transparent;
}
.frame1-text16 {
  left: 12px;
  color: rgba(52, 147, 83, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-group1802 {
  top: 497px;
  left: 17px;
  width: 40px;
  height: 15px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame1-group5222 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 15px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame1-ellipse482 {
  top: 4px;
  left: 0px;
  width: 7px;
  height: 7px;
  position: absolute;
  border-color: transparent;
}
.frame1-text18 {
  left: 12px;
  color: rgba(52, 147, 83, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text20 {
  top: 292px;
  left: 145px;
  color: rgba(33, 110, 211, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-text22 {
  top: 480px;
  left: 145px;
  color: rgba(33, 110, 211, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-text24 {
  top: 398px;
  left: 155px;
  color: rgba(33, 110, 211, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-text26 {
  top: 165px;
  left: 17px;
  color: rgba(0, 179, 176, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-group1803 {
  top: 166px;
  left: 42px;
  width: 13.39134407043457px;
  height: 10.999702453613281px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame1-vector195 {
  top: 1.8189894035458565e-12px;
  left: 1.9130533933639526px;
  width: 11px;
  height: 9px;
  position: absolute;
}
.frame1-rectangle632 {
  top: 0.9560694694519043px;
  left: 0.00014718023885507137px;
  width: 12px;
  height: 10px;
  position: absolute;
}
.frame1-text28 {
  top: 167px;
  left: 86px;
  color: rgba(79, 79, 79, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-vector225 {
  top: 167px;
  left: 72px;
  width: 0px;
  height: 11px;
  position: absolute;
}
.frame1-group1757 {
  top: 239px;
  left: 222px;
  width: 13.39134407043457px;
  height: 10.999702453613281px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame1-vector1951 {
  top: 1.8189894035458565e-12px;
  left: 1.9130533933639526px;
  width: 11px;
  height: 9px;
  position: absolute;
}
.frame1-rectangle6321 {
  top: 0.9560694694519043px;
  left: 0.00014718023885507137px;
  width: 12px;
  height: 10px;
  position: absolute;
}
.frame1-vector {
  top: 239px;
  left: 330px;
  width: 12px;
  height: 13px;
  position: absolute;
}
.frame1-text30 {
  top: 231px;
  left: 257px;
  color: rgba(79, 79, 79, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-text35 {
  top: 230px;
  left: 184px;
  color: rgba(0, 180, 177, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-text40 {
  top: 231px;
  left: 17px;
  color: rgba(79, 79, 79, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-text45 {
  top: 231px;
  left: 92px;
  color: rgba(79, 79, 79, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-rectangle694 {
  top: 129px;
  left: 0px;
  width: 149px;
  height: 20px;
  position: absolute;
  border-color: transparent;
  border-radius: 0 0 8.5px;
}
.frame1-text50 {
  top: 130px;
  left: 10px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-vector226 {
  top: 294px;
  left: 137px;
  width: 0px;
  height: 10px;
  position: absolute;
}
.frame1-vector227 {
  top: 482px;
  left: 137px;
  width: 0px;
  height: 10px;
  position: absolute;
}
.frame1-vector228 {
  top: 400px;
  left: 147px;
  width: 0px;
  height: 10px;
  position: absolute;
}
.frame1-rectangle695 {
  top: 191px;
  left: 0px;
  width: 360px;
  height: 27px;
  position: absolute;
  border-color: transparent;
}
.frame1-text52 {
  top: 197px;
  left: 15px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-rectangle464 {
  top: 37px;
  left: 0px;
  width: 360px;
  height: 86px;
  position: absolute;
  border-color: transparent;
}
.frame1-text54 {
  top: 81px;
  left: 67px;
  color: rgba(140, 140, 140, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-text56 {
  top: 65px;
  left: 67px;
  color: rgba(140, 140, 140, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-text58 {
  top: 46px;
  left: 67px;
  color: rgba(83, 83, 83, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-ellipse59 {
  top: 50px;
  left: 14px;
  width: 46px;
  height: 46px;
  position: absolute;
  border-color: transparent;
}
.frame1-group1405 {
  top: 85px;
  left: 15px;
  width: 44px;
  height: 16px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.frame1-group280 {
  top: 2px;
  left: 6px;
  width: 33px;
  height: 12px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame1-group591 {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 12px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame1-text60 {
  left: 10px;
  color: rgba(83, 83, 83, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-vector1 {
  top: 3px;
  left: 0px;
  width: 7px;
  height: 6px;
  position: absolute;
}
.frame1-text62 {
  top: 44px;
  left: 313px;
  color: rgba(33, 110, 211, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-group1406 {
  top: 99px;
  left: 277px;
  width: 74px;
  height: 15px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame1-group471 {
  top: 0px;
  left: 0px;
  width: 74px;
  height: 15px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame1-text64 {
  color: rgba(83, 83, 83, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-vector2 {
  top: 101px;
  left: 254px;
  width: 17px;
  height: 11px;
  position: absolute;
}
.frame1-group1811 {
  top: 99px;
  left: 70px;
  width: 171px;
  height: 15px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame1-group1789 {
  top: 0px;
  left: 10px;
  width: 65px;
  height: 15px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame1-text66 {
  color: rgba(83, 83, 83, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-vector3 {
  top: 3px;
  left: 101px;
  width: 10px;
  height: 10px;
  position: absolute;
}
.frame1-group1786 {
  top: 0px;
  left: 117px;
  width: 41px;
  height: 15px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame1-group4711 {
  top: 0px;
  left: 0px;
  width: 41px;
  height: 15px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame1-text68 {
  color: rgba(83, 83, 83, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-vector2241 {
  top: 3px;
  left: 88px;
  width: 0px;
  height: 10px;
  position: absolute;
}
.frame1-vector2251 {
  top: 3px;
  left: 171px;
  width: 0px;
  height: 10px;
  position: absolute;
}
.frame1-group {
  top: 2px;
  left: 0px;
  width: 6.45892333984375px;
  height: 10.780914306640625px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame1-vector4 {
  top: 0px;
  left: 0px;
  width: 6px;
  height: 11px;
  position: absolute;
  box-sizing: content-box;
}
.frame1-vector5 {
  top: 1.5401333570480347px;
  left: 1.6893432140350342px;
  width: 3px;
  height: 3px;
  position: absolute;
  box-sizing: content-box;
}
@media(max-width: 479px) {
  .frame1-frame1 {
    align-items: center;
    justify-content: center;
  }
  .frame1-rectangle690 {
    width: 100%;
  }
  .frame1-rectangle691 {
    width: 100%;
  }
  .frame1-rectangle692 {
    width: 100%;
  }
  .frame1-rectangle693 {
    width: 100%;
  }
  .frame1-rectangle695 {
    width: 100%;
  }
  .frame1-rectangle464 {
    width: 100%;
  }
}
