.new-booking-screen-container {
  min-height: 100vh;
}
.new-booking-screen-booking-main-layout {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.new-booking-screen-rectangle696 {
  top: 0px;
  left: 0px;
  width: 100%;
  position: absolute;
  border-color: transparent;
}
.new-booking-screen-tittle-gradient {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 36px;
  position: absolute;
  border-color: transparent;
}
.new-booking-screen-back-button {
  top: 14px;
  left: 16px;
  width: 4px;
  height: 8px;
  position: absolute;
}
.new-booking-screen-page-heading-tittle {
  top: 7.5px;
  left: 29px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.new-booking-screen-rectangle698 {
  top: 266.0673828125px;
  left: -1.8189894035458565e-12px;
  width: 100%;
  height: 440px;
  position: absolute;
  border-color: transparent;
}
.new-booking-screen-normal-slot-book-now-button {
  top: 514.46875px;
  left: 238px;
  width: 104px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(0, 180, 177, 1);
}
.new-booking-screen-text01 {
  top: 8px;
  left: 10px;
  color: rgba(255, 255, 255, 1);
  width: 85px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.new-booking-screen-line81 {
  top: 566.46875px;
  left: 16px;
  width: 339px;
  height: 0px;
  position: absolute;
}
.new-booking-screen-line83 {
  top: 465.46875px;
  left: 12px;
  width: 339px;
  height: 0px;
  position: absolute;
}
.new-booking-screen-group1364 {
  top: 527.46875px;
  left: 23.5px;
  width: 174px;
  height: 5px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(218, 218, 218, 1);
}
.new-booking-screen-rectangle448 {
  top: 527.46875px;
  left: 23.5px;
  width: 93px;
  height: 5px;
  position: absolute;
  border-color: transparent;
}
.new-booking-screen-normal-slot-duration-time {
  top: 481.46875px;
  left: 20.5px;
  color: rgba(15, 41, 81, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.new-booking-screen-normal-slot-duration-time1 {
  top: 500.46875px;
  left: 20.5px;
  width: 40px;
  height: 15px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.new-booking-screen-ellipse48 {
  top: 4px;
  left: 0px;
  width: 7px;
  height: 7px;
  position: absolute;
  border-color: transparent;
}
.new-booking-screen-text04 {
  left: 12px;
  color: rgba(52, 147, 83, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.new-booking-screen-normal-slot-name {
  top: 482.96875px;
  left: 288px;
  color: rgba(33, 110, 211, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.new-booking-screen-vector226 {
  top: 485.46875px;
  left: 140.5px;
  width: 0px;
  height: 10px;
  position: absolute;
}
.new-booking-screen-rectangle699 {
  top: 198.31640625px;
  left: 0px;
  width: 100%;
  height: 61px;
  position: absolute;
  border-color: transparent;
}
.new-booking-screen-rectangle703 {
  top: 129.158203125px;
  left: 0px;
  width: 100%;
  height: 61px;
  position: absolute;
  border-color: transparent;
}
.new-booking-screen-line86 {
  top: 330.45928955078125px;
  left: 12px;
  width: 339px;
  height: 0px;
  position: absolute;
}
.new-booking-screen-custom-slot-duration-time {
  top: 346.45928955078125px;
  left: 17px;
  color: rgba(15, 41, 81, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.new-booking-screen-custom-slot-status {
  top: 365.45928955078125px;
  left: 17px;
  width: 110px;
  height: 15px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.new-booking-screen-ellipse481 {
  top: 4px;
  left: 0px;
  width: 7px;
  height: 7px;
  position: absolute;
  border-color: transparent;
}
.new-booking-screen-text08 {
  left: 12px;
  color: rgba(255, 77, 109, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.new-booking-screen-custom-slot-name {
  top: 347.95928955078125px;
  left: 288px;
  color: rgba(33, 110, 211, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.new-booking-screen-today {
  top: 293.08428955078125px;
  left: 19px;
  color: rgba(79, 79, 79, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.new-booking-screen-tomorrow {
  top: 293.08428955078125px;
  left: 96.5px;
  color: rgba(79, 79, 79, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.new-booking-screen-opd-item {
  top: 234.31640625px;
  left: 17px;
  width: 33px;
  height: 15px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.new-booking-screen-opd-name {
  color: rgba(0, 179, 176, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  flex-direction: row;
  text-decoration: none;
  
}
.new-booking-screen-entity-select-item {
  top: 165.31640625px;
  left: 16px;
  width: 33px;
  height: 15px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.new-booking-screen-entity-name {
  color: rgba(0, 179, 176, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  display: flex;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  flex-direction: row;
}
.new-booking-screen-rectangle700 {
  top: 198.31640625px;
  left: 0px;
  width: 149px;
  height: 20px;
  position: absolute;
  border-color: transparent;
  border-radius: 0 0 8.5px;
}
.new-booking-screen-text15 {
  top: 199.31640625px;
  left: 10px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.new-booking-screen-select-clinic-heading-text {
  top: 129.158203125px;
  left: 0px;
  width: 149px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0 0 8.5px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 219, 161, 1);
}
.new-booking-screen-select-clinic-text-view {
  top: 1px;
  left: 10px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.new-booking-screen-rectangle702 {
  top: 37px;
  left: 0px;
  width: 100%;
  height: 86px;
  position: absolute;
  border-color: transparent;
}
.new-booking-screen-date-name {
  top: 293.08428955078125px;
  left: 212px;
  color: rgba(79, 79, 79, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.new-booking-screen-date-icon {
  top: 293.90460205078125px;
  left: 194px;
  width: 12px;
  height: 13px;
  position: absolute;
}
.new-booking-screen-clinic-name-text {
  top: 81px;
  left: 67px;
  color: rgba(140, 140, 140, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.new-booking-screen-doctor-degrees-text {
  top: 65px;
  left: 67px;
  color: rgba(140, 140, 140, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.new-booking-screen-doctor-name-text {
  top: 46px;
  left: 67px;
  color: rgba(83, 83, 83, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.new-booking-screen-entity-call-button {
  top: 99px;
  left: 171px;
  width: 57px;
  height: 15px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.new-booking-screen-call-icon {
  top: 3px;
  left: 0px;
  width: 10px;
  height: 10px;
  position: absolute;
}
.new-booking-screen-entity-call-name-layout {
  top: 0px;
  left: 16px;
  width: 41px;
  height: 15px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.new-booking-screen-entity-call-name-text {
  color: rgba(83, 83, 83, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.new-booking-screen-vector225 {
  top: 102px;
  left: 241px;
  width: 0px;
  height: 10px;
  position: absolute;
}
.new-booking-screen-vector224 {
  top: 102px;
  left: 155px;
  width: 0px;
  height: 10px;
  position: absolute;
}
.new-booking-screen-entity-location-button {
  top: 99px;
  left: 67px;
  width: 75px;
  height: 15px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.new-booking-screen-group1789 {
  top: 0px;
  left: 10px;
  width: 65px;
  height: 15px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.new-booking-screen-text23 {
  color: rgba(83, 83, 83, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.new-booking-screen-group {
  top: 2px;
  left: 0px;
  width: 6.45892333984375px;
  height: 10.780914306640625px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.new-booking-screen-vector {
  top: 0px;
  left: 0px;
  width: 6px;
  height: 11px;
  position: absolute;
  box-sizing: content-box;
}
.new-booking-screen-vector1 {
  top: 1.5401333570480347px;
  left: 1.6893432140350342px;
  width: 3px;
  height: 3px;
  position: absolute;
  box-sizing: content-box;
}
.new-booking-screen-ellipse83 {
  top: 50px;
  left: 14px;
  width: 46px;
  height: 46px;
  border-radius: 58px;
  position: absolute;
  border-color: transparent;
}
.new-booking-screen-custom-mini-slot {
  top: 397.416015625px;
  left: 31.6376953125px;
  width: 141.09869384765625px;
  height: 35.096065521240234px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-shadow: 5px 5px 10px 0px #bfd8f7;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  margin-right: 0;
  border-radius: 58px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
}
.new-booking-screen-custom-mini-slot-layout {
  top: 5.0478515625px;
  left: 20.048828125px;
  width: 101px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.new-booking-screen-custom-mini-slot-time {
  color: rgba(123, 135, 152, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.new-booking-screen-custom-mini-slot-status {
  top: 13px;
  left: 35px;
  color: rgba(255, 56, 92, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 479px) {
  .new-booking-screen-opd-item {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    display: flex;
    align-self: center;
    align-items: flex-start;
    flex-direction: row;
  }
  .new-booking-screen-opd-name {
    text-align: center;
  }
}
